#navbar{
background-color: rgb(133, 189, 171);
border-radius: 3px;
}
#navbar li{
    float: left;
    list-style: none;
    margin: 20px 7px ;
}
#navbar ul{
    overflow: auto;
}
#navbar li a{
    
    padding: 30px 30px;
    font-size: x-large;
    text-decoration: none ;
    color: white;
    transition: font-size 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}
#navbar li a:hover{
    color: brown;
    font-size: xx-large;
   
}
.searchbox{
    float: right;
    padding: 10px 10px;
    margin: 8px 25px;
}
#navbar input{
    padding: 6px 15px;
    border-radius: 15px;
    width: 220px;
}
.Know{
    overflow: auto;
    background-color: rgb(26, 37, 37);
    width: 100%;
    display: block;
    color: antiquewhite;
    font-size:xx-large;
    
    
}
.Know h1{
    text-align: center;
    padding: 30px 30px 30px 30px;
    margin: -13px 56px 30px 56px;
    font-family: Lucida Handwriting,cursive ;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}
.Know img{
    display: block;
    margin: 30px 485px 40px 485px;
    border-radius: 50%;
    width: 450px;
}
@keyframes example{
  from{color: antiquewhite;}
  to{color: rgb(140, 109, 157) ;}
}
.Profile{
   background-color:rgb(26, 37, 37);
   width: 100%;
   margin-top: -114px ;

}
.Profile h1{
    font-size: 115px;
    color: rgb(24, 124, 128);
    text-align: center;
}
.Profile div{
    width: 100%;
    margin-bottom: auto;
}
.Profile img{
    display: block;
    margin-left: 70%;
    margin-right:  0%;
    margin-bottom: 40%;
    width: 25%;
    align-items: left;
    max-width: 25%;
    height: auto;

      }
.Profile p{
    color: beige;
    font-size: large;
    padding: 20px 20px;
    margin: 3px 52px -30px 46px;;
}
}